body{
    color: black;
    background-color: white;

}

.ma{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    color: black;
    margin-left: 40%;
    margin-top: -3%;


}
.ma li{
    float:left;
    color: black;
    font-weight: 540;
}

.ma li a{
    color: black;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 17px;
    padding: 4px 10px;
    text-decoration: none;
    width: 100%;
    

}

.intro-image{
    width:100%;
}

.new{
    width: 92%;
    
}

/* .nav-left ul li{
    float:left;
    color:black;
    font-weight:540;
} */

